@if(Request.IsAuthenticated && User.IsInRole("Admin"))
{
<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down">
        </span> 
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Place our Menu items*@
        <li class="dropdown-header">Admin Area</li>
        <li class="divider" />
        <li><a href="/Admin/Section">&nbsp;&nbsp;Section</a></li>
        <li><a href="/Admin/Part">&nbsp;&nbsp;Part</a></li>
        <li><a href="/Admin/ItemType">&nbsp;&nbsp;Item Type</a></li>
        <li><a href="/Admin/PropertyType">&nbsp;&nbsp;Property Type</a></li>
        <li><a href="/Admin/PropertyLinkText">&nbsp;&nbsp;Property Link Text</a></li>
        <li><a href="/Admin/Property">&nbsp;&nbsp;Property</a></li>
        <li class="divider" />
    </ul>
</li>
}
