<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down">
        </span> 
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Place our Menu items*@
        <li class="dropdown-header">Accounts</li>
        <li class="divider" />
        <li><a href="/Admin/Section">&nbsp;&nbsp;Add Account</a></li>
        <li><a href="/Admin/Part">&nbsp;&nbsp;Edit Account</a></li>
        <li><a href="/Admin/ItemType">&nbsp;&nbsp;Edit Account</a></li>
        <li class="divider" />
        <li class="dropdown-header">Agents</li>
        <li class="divider" />
        <li><a href="/Admin/Item">&nbsp;&nbsp;Add Agent</a></li>
        <li><a href="/Admin/Products">&nbsp;&nbsp;Edit Agent</a></li>
        <li><a href="/Admin/Subscriptions">&nbsp;&nbsp;Delete Agent</a></li>
        <li class="divider" />
        <li class="dropdown-header">Properties</li>
        <li class="divider" />
        <li><a href="/Admin/Item">&nbsp;&nbsp;Add Property</a></li>
        <li><a href="/Admin/Products">&nbsp;&nbsp;Edit Property</a></li>
        <li><a href="/Admin/Subscriptions">&nbsp;&nbsp;Delete Property</a></li>
        <li class="divider" />
        <li class="dropdown-header">Reports</li>
        <li class="divider" />
        <li><a href="/Admin/Item">&nbsp;&nbsp;Add Report</a></li>
        <li><a href="/Admin/Products">&nbsp;&nbsp;Run Report</a></li>
        <li><a href="/Admin/Subscriptions">&nbsp;&nbsp;Delete Report</a></li>

    </ul>
</li>
