@if(Request.IsAuthenticated && User.IsInRole("Agent"))
{
<li class="dropdown" data-admin-menu>
    <a href="#">
       Agent
        <span class="glyphicon glyphicon-chevron-down">
        </span> 
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Place our Menu items*@
        <li class="dropdown-header">Estate Agent Area</li>
        <li><a href="/Admin/Item">&nbsp;&nbsp;Add Property Item</a></li>
        <li><a href="/Admin/Property">&nbsp;&nbsp;Add Property</a></li>
        <li><a href="/Admin/PropertyItem">&nbsp;&nbsp;Add files </a></li>
        @*<li><a href="/Admin/FavouriteProperty">&nbsp;&nbsp;Publish Property</a></li>*@
    </ul>
</li>
}
