@model HSH.Areas.Admin.Models.SmallButtonModel

@using HSH.Areas.Admin.Models;

<td style="width:120px;">
    <div class="btn-group" role="group">
        @Html.Partial("_SmallButtonPartial",
       new SmallButtonModel
       {
           Action = "Edit",
           ButtonType = "btn-primary",
           Glych = "pencil",
           Text = "Edit Button",
           Id = Model.Id,
           ItemId = Model.ItemId,
           PropertyId = Model.PropertyId,
           FavouriteId = Model.FavouriteId,
           UserId = Model.UserId
       })

        @if (Model.UserId == null || Model.UserId.Equals(string.Empty))
        {
            @Html.Partial("_SmallButtonPartial",
               new SmallButtonModel
               {
                   Action = "Details",
                   ButtonType = "btn-success",
                   Glych = "list",
                   Text = "Detail Button",
                   Id = Model.Id,
                   ItemId = Model.ItemId,
                   PropertyId = Model.PropertyId,
                   FavouriteId = Model.FavouriteId,
                   UserId = Model.UserId
               })
        }

            @if (Model.UserId != null && !Model.UserId.Equals(string.Empty))
            {
                @*@Html.Partial("_SmallButtonPartial",
                       new SmallButtonModel
                       {
                           Action = "Favourites",
                           ButtonType = "btn-info",
                           Glych = "list",
                           Text = "Favourites",
                           Id = Model.Id,
                           ItemId = Model.ItemId,
                           PropertyId = Model.PropertyId,
                           FavouriteId = Model.FavouriteId,
                           UserId = Model.UserId
                       })*@
            }

            @Html.Partial("_SmallButtonPartial",
          new SmallButtonModel
          {
              Action = "Delete",
              ButtonType = "btn-danger",
              Glych = "trash",
              Text = "Delete Button",
              Id = Model.Id,
              ItemId = Model.ItemId,
              PropertyId = Model.PropertyId,
              FavouriteId = Model.FavouriteId,
              UserId = Model.UserId
          })
        </div>
</td>
