@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HomeSweetHome<br />
    Donnybrook, Dublin 4<br />
    <abbr title="Phone">P:</abbr>
    +353 1 4326 304
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@homesweethome.com">Support@homesweethome.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@homesweethome.com">Marketing@homesweethome.com</a>
</address>